body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    color: blue;
}

.top-banner {
    background-image: url(images/donation8.jpg);

}

.donate {
    text-align: center;
    padding: 5%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(yellow, orange);
    padding: 7px;
    border-radius: 8%;

}

#main {
    display: flex;
    width: 800px;
    margin-left: 15%;
    margin-bottom: 5%;


}

.cild {

    margin: 2px;
    text-align: center;
    width: 180px;
    background-color: gray;


}

#cild {
    border: 3px solid green;
    color: red;
    background-color: white;

}

#mid-button {
    margin-left: 47%;

}

#don-id {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.main {
    display: flex;
    padding-top: 0;
}

.plan-side {
    border-radius: 4%;
    box-shadow: 5px 5px 10px green;
    margin: 2%;
    padding: 5%;


}

.plan-side img {
    width: 200px;
    border-radius: 5px;

}

.donate-part {
    display: flex;
}

.cild-donate1 {
    width: 40%;
    margin: 5%;
}

.cild-donate2 img {
    width: 80%;
    margin: 10%;
}

.subscribe-part {

    background-color: antiquewhite;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5%;

}

.input-email {
    width: 220px;
    height: 25px;


}

#button {
    text-decoration: none;
    background-image: linear-gradient(yellow, orange);
    padding: 7px;
}

footer {
    background-color: black;
    padding: 5%;
    color: aliceblue;
    text-align: center;
    margin-top: 5%;

}

span {
    color: coral;
}